* {
    margin: 0;
    padding: 0;
}

@media (max-width:700px) {
    body {
        background-color: rgb(111, 114, 114);

    }

    .perfil {
        background-color: rgb(17, 17, 17);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .perfil2 {
        min-height: 100vh;
        background-color: rgb(43, 40, 40);

    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

}

main {
    color: aliceblue;

}
.novo .o-novo img{
padding: 20px;
width: 250px;
height: 250px;
}
#off{
    display: none;
}
.o-novo{
    background-color: rgb(28, 29, 28);
    width: 300px;
    height: 750px;
}
.novo{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100vh;
    min-height: 100vh;
    
background-color: rgb(18, 23, 27);
}
.o-novo li{
    background-color: rgb(229, 200, 160);
    border: 1px solid;
    border-radius: 10px;
    flex-flow: column;
    padding: 20px;
    width: 200px;
    display: block;
    text-align: center;
}

.novo h2{
    color: blanchedalmond;
    font-size: 30px;
    padding: 10px 0 20px 20px;
}
.novo strong{
    padding: 0;
    font-size: 20px;
}


.perfil {
    min-height: 100vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 176px;
    height: 176px;

}

.perfil2 {
    border-radius: 20px;
    background-color: rgb(43, 40, 40);
    padding: 20px;

}

h1 {
    border-bottom: ridge 1px;
    font-family: Item; 
}

strong {
    display: flex;
    margin-left: 30px;
    color: rgb(226, 164, 71);
    font-size: 18px;
    margin-bottom: 20px;
}

.butoes {
    display: flex;
    flex-direction: column;
}

.nome-descricao-botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

button {
    margin: 10px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    color: rgb(240, 232, 232);
    background-color: rgb(80, 75, 70);
}